nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

button {
  cursor: pointer;
  font-size: 16px;
  padding: 10px 24px;
  margin: 10px auto;
  border-radius: 8px;
  background-color: purple;
  color: white;
  border: none;
}

button:hover {
  background-color: lightblue;
  color: black ;
}

#quiz-container {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
}

#highscore-container,
#result-container {
  margin: 20px;
  font-size: 24px;
}
  
#highscore-container,
#initial-input {
  text-align: center;
}

#initials {
  display: block;
  margin: 0 auto;
}

#viewscores {
  cursor: pointer;
  color: blue;
}

#viewscores:hover {
  color: red;
}

#buttons-container {
  display: flex;
  justify-content: space-around;
}

#choices ol {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}