h1 {
  text-align: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.quiz-container {
  margin-left: 20%;
}

.highscore-container {
  display: flex;
}

.choices button {
  display: block;
  margin: 10px auto;
  padding: 20px auto;
  cursor: pointer;
}

#restart-button {
  display: none;
}